{% extends 'layout.html' %}

{% block body %}
<div class="grid-2">
    {% autoescape false %}
    {% for chord in chords %}
        {% if chord.lesson_id == chord_id %}
        <h2>{{ chord.type }}</h2>
        {% endif %}
    {% endfor %}
    <div class="chord">
    {% for chord in chords %}
        {% if chord.lesson_id == chord_id %}
        <img src="{{ chord.image }}" alt="chord">
        {% endif %}
    {% endfor %}
    </div>
    {% for chord in chords %}
        {% if chord.lesson_id == chord_id %}
    <div class="description">{{ chord.description }}</div>
    <div class="video">{{ chord.video }}</div>
    <div class="home_link">
        <a href="../scales/{{ chord.lesson_id }}">Back to Scale</a>
    </div>
    <div class="next_link">
        <a href="../rhythms/{{ chord.lesson_id }}">Next</a>
    </div>
    {% endif %}
    {% endfor %}


    {% endautoescape %}
</div>
{% endblock %}
