{% extends 'layout.html' %}

{% block body %}
<div class="home_container">

    <h1>Welcome to the greatest app ever made for learning how to play the guitar</h1>

    <div class="description">YouGuitar was designed by Thomas Graeff, an instructor who has years of experience in helping hundreds of students rapidly improve their guitar skills. While a student at the fine 
        <a href="http://www.holbertonschool.com" target="_blank">Holberton School</a> of Software Engineering, he came up with the idea of creating a web app that would be an extremely useful resource for his 
    students.</div>

    <a href="/home">
        <h3>Click here to get started</h3>
    </a>


</div>
 {% endblock %}
