{% extends 'layout.html' %}

{% block body %}
<div class="grid-1">

    <h1>
        Welcome to <em>YouGuitar</em> - the greatest tool to help learn how to play the guitar
    </h1>
<!--        
    <div class="description">
        <label class="checkbox-label">
            <input type="checkbox">
            <span class="checkbox-custom"></span>
        </label>
        <p>
        I promise to practice often and enjoy the journey of learning the guitar.</p>
    </div>
    <br>
-->
    <div class="bottom1">
        <div class="enter">
            <a href="/lessons">
                <h3>Click here to get started</h3>
            </a> 
        </div>
     </div>
  

</div>
 {% endblock %}
