{% extends 'layout.html' %}

{% block body %}
<div class="grid-container">
    <br>
    <img src="../static/images/vox_guitars.jpg" alt="VoxGuitars" class="center_image"><br>

    <h1>
        Welcome to the greatest app ever made for learning how to play the guitar: <em>YouGuitar</em>
    </h1>
    <div class="about">
        <h4>About</h4>
        YouGuitar was designed by Thomas Graeff, a guitar instructor with years of experience in helping hundreds of students rapidly improve their guitar skills. While a student at the fine 
        <a href="http://www.holbertonschool.com" target="_blank">Holberton School</a> of Software Engineering, he came up with the idea of creating a web app that would be an extremely useful resource for 
    students.
        <br><p>        
        <a href="http://www.github.com/graefft" target="_blank">
            <div class="icons">
                <img src="../static/images/github.png" alt="Github">
        </a>
        <a href="https://www.linkedin.com/in/thomas-graeff-b3ab4380/" target="blank">
                <img src="../static/images/linkedin.svg" alt="LinkedIn">
        </a>
        <a href="http://www.twitter.com/graeff2000" target="_blank">
            <img src="../static/images/twitter.svg" alt="Twitter">
        </a>
        <p>
        <a href="https://github.com/graefft/YouGuitar" target="_blank">
            YouGuitar on Github
        </a>

            </div>
        

    </div>
    <div class="enter">
        <a href="/home">
            <h3>Click here to get started</h3>
        </a> 
    </div>
</div>
 {% endblock %}
