<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        {% if title %}
            <title>YouGuitar - {{ title }}</title>
        {% else %}
            <title>YouGuitar</title>
        {% endif %}
    </head>
    
    <body>
        <header>
            <div class="button">
                <ul>
                    <li class="header_list"><a href="{{ url_for('home') }}">Home</a></li>
                    <li class="header_list"><a href="{{ url_for('all_chords') }}">Chords</a></li>
                    <li class="header_list"><a href="{{ url_for('all_scales') }}">Scales</a></li>
                    <li class="header_list"><a href="{{ url_for('all_rhythms') }}">Rhythms</a></li>
                    <li class="header_list"><a href = "mailto: 676@holbertonschool.com">Contact</a></li>
                </ul>
            </div>
        </header>
        
        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <footer>
            <p>Copyright 2019 YouGuitar</p>
        </footer>
    </body>
</html>
