{% extends 'layout.html' %}

{% block body %}
<div class="grid-2">
    {% autoescape false %}
    {% for rhythm in rhythms %}
        {% if rhythm.id == rhythm_id %}
        <h2>{{ rhythm.title }}</h2>
        <div class="rhythm">
        <img src="{{ rhythm.image }}" alt="rhythm">
        </div>
        {% endif %}
    {% endfor %}
    {% for rhythm in rhythms %}
        {% if rhythm.id == rhythm_id %}
        <div class="description">{{ rhythm.description }}</div>
        <div class="home_link"><a href="../chords/{{ rhythm.lesson_id }}">Back to Chord</a></div>
        <div class="next_link"><a href="../lessons">Next</a></div>
        {% endif %}
    {% endfor %}

</div>
    {% endautoescape %}
{% endblock %}
