{% extends 'layout.html' %}
/* lists all scales in database */


{% block body %}
        <h1>Scales</h1>
        <h2>Choose a Lesson:</h2>

        <h4>Pentatonic Scales</h4>
        <div class="chord_list">
            {% for scale in scales %}
                {% if scale.type == 'pentatonic' %}
                    <a href="scales/{{ scale.id }}">
                    <h3>{{ scale.title }}</h3>
                    </a>
                {% endif %}
            {% endfor %}
        </div>

        <br/>

        <h4>Diatonic Scales</h4>
        <div class="chord_list">
            {% for scale in scales %}
                {% if scale.type == 'diatonic' %}
                    <a href="scales/{{ scale.id }}">
                    <h3>{{ scale.title }}</h3>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
{% endblock %}
